---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Strategic consulting insights for a modern era. 
Our full site is launching soon.
`;
---

<Layout title="Welcome to 1640Labs.">
    <h1 class="mb-10">1640 Labs: Strategic Insights for Modern Business</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Read the Docs</a>
    </p>
</Layout>
